{# init_models.py.j2 -- models/__init__.py importing each model file #}
{% for model in models %}
from . import {{ model.name | to_python_var }}
{% endfor %}
{% if extension_model_files is defined %}
{% for ext_file in extension_model_files %}
from . import {{ ext_file }}
{% endfor %}
{% endif %}
