{# portal_home_counter.xml.j2 -- QWeb home counter entries inheriting portal.portal_my_home #}
<?xml version="1.0" encoding="utf-8"?>
<odoo>
{% for page in portal_pages if page.show_in_home is defined and page.show_in_home %}
    <template id="portal_my_home_{{ page.id }}"
              name="Portal: {{ page.title | default(page.id) }}"
              inherit_id="portal.portal_my_home"
              customize_show="True" priority="60">
        <xpath expr="//div[hasclass('o_portal_docs')]" position="before">
            <t t-set="portal_client_category_enable" t-value="True"/>
        </xpath>
        <div id="portal_client_category" position="inside">
            <t t-call="portal.portal_docs_entry">
                <t t-set="title">{{ page.title | default(page.id) }}</t>
                <t t-set="url" t-value="'{{ page.route }}'"/>
{% if page.home_counter is defined and page.home_counter %}
                <t t-set="placeholder_count" t-value="{{ page.id }}_count"/>
{% endif %}
{% if page.home_icon is defined and page.home_icon %}
                <t t-set="icon" t-value="'{{ page.home_icon }}'"/>
{% else %}
                <t t-set="icon" t-value="False"/>
{% endif %}
                <t t-set="config_card" t-value="True"/>
            </t>
        </div>
    </template>
{% endfor %}
</odoo>
