{# security_group.xml.j2 -- Odoo security groups and module category #}
<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Module Category -->
    <record id="module_category_{{ module_name }}" model="ir.module.category">
        <field name="name">{{ module_title }}</field>
        <field name="sequence">100</field>
    </record>

{% for role in security_roles %}
    <!-- {{ role.label }} Group{% if role.is_highest %} (highest){% endif %} -->
    <record id="{{ role.xml_id }}" model="res.groups">
        <field name="name">{{ role.label }}</field>
        <field name="category_id" ref="module_category_{{ module_name }}"/>
{% if "." in role.implied_ids %}
        <field name="implied_ids" eval="[(4, ref('{{ role.implied_ids }}'))]"/>
{% else %}
        <field name="implied_ids" eval="[(4, ref('{{ module_technical_name }}.{{ role.implied_ids }}'))]"/>
{% endif %}
{% if role.is_highest %}
        <field name="users" eval="[(4, ref('base.user_root')), (4, ref('base.user_admin'))]"/>
{% endif %}
    </record>

{% endfor %}
</odoo>
